[submodule "3xHIT/Sem2/SEW/genericstack-czlabinger"]
	path = 3xHIT/Sem2/SEW/genericstack-czlabinger
	url = git@github.com:TGM-HIT/genericstack-czlabinger.git
[submodule "3xHIT/Sem2/SEW/calcvm-czlabinger"]
	path = 3xHIT/Sem2/SEW/calcvm-czlabinger
	url = git@github.com:TGM-HIT/calcvm-czlabinger.git
[submodule "3xHIT/Sem1/SEW/figuren-czlabinger"]
	path = 3xHIT/Sem1/SEW/figuren-czlabinger
	url = git@github.com:TGM-HIT/figuren-czlabinger.git
[submodule "3xHIT/Sem2/SEW/rbac-czlabinger"]
	path = 3xHIT/Sem2/SEW/rbac-czlabinger
	url = git@github.com:TGM-HIT/rbac-czlabinger.git
[submodule "3xHIT/Sem2/SEW/tgm-lagerhalle-czlabinger"]
	path = 3xHIT/Sem2/SEW/tgm-lagerhalle-czlabinger
	url = git@github.com:TGM-HIT/tgm-lagerhalle-czlabinger.git
[submodule "3xHIT/Sem2/ITP/ChessMate-Client"]
	path = 3xHIT/Sem2/ITP/ChessMate-Client
	url = git@github.com:jscarlata/ChessMate-Client.git
