[submodule "4xHIT/SEW/Calculator"]
	path = 4xHIT/SEW/Calculator
	url = git@github.com:czlabinger/Calculator.git
[submodule "warehouse"]
	path = 4xHIT/SYT/DZS/warehouse
	url = git@github.com:czlabinger/warehouse.git
[submodule "4xHIT/ITP/VSA"]
	path = 4xHIT/ITP/VSA
	url = git@github.com:Markus-Stuppnig/VSA.git
[submodule "4xHIT/ITP/VSA-Backend"]
	path = 4xHIT/ITP/VSA-Backend
	url = git@github.com:Markus-Stuppnig/VSA-Backend.git
[submodule "4xHIT/SYT/DZS/warehouse2"]
	path = 4xHIT/SYT/DZS/warehouse2
	url = git@github.com:czlabinger/warehouse2.git
[submodule "4xHIT/SEW/expressions"]
	path = 4xHIT/SEW/expressions
	url = git@github.com:TGM-HIT/sew7-2324-expressions-czlabinger.git
